form {
    width: 293px;
    margin: auto;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
}

form input, form select {
    width: 150px;
    margin-left: 20px;
}

button {
    font-size: 20px;
    border-radius: 50px;
    width: 100px;
    padding: 37px 0px 37px 0px;
    margin-left: 95px;
    margin-top: 10px;
    background: url("http://www.themesltd.com/headers2/faded_pizza_slices.png");
    background-size:     cover;                   
    background-repeat:   no-repeat;
    background-position: center center;    
}


