nav {
    font-family: 'IBM Plex Sans', sans-serif;
    width: 100%;
    height: 120px;
    text-align: center;
    letter-spacing: 1px;
    background:     linear-gradient(20deg, rgb(158, 69, 21) 30%,rgb(231, 131, 92) 40%,rgb(222, 102, 14) 71%,rgb(0, 93, 14) 100%);
    color: #fffbd1;

}

nav h1{
    padding-top: 25px;
    font-size: 30px;
}

#nav-menu{
    display: inline-flex;
    justify-content: space-between;
    float: right;
    width: 100px;
}




